.header h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1em;
  text-transform: lowercase;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  text-align: center;
}

ul {
  list-style: none;
}

.inputField {
  width: 90%;
  height: 30px;
  padding: 0 0 0 7px;
  border: 1px solid #aaa;
  margin: 0 14px 0 0;
}

.clearbtn {
  width: 60px;
  height: 40px;
  margin: 14px 0 0 0;
  border: none;
  cursor: pointer;
  background-color: rgb(42, 42, 43);
  color: #fff;
  outline: none;
  margin: 3px 30px;
  border-radius: 5px;
}

.submit {
  height: 30px;
  background-color: rgb(42, 42, 43);
  color: #fff;
  border: none;
  padding: 0 14px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
